.column {
    text-align: center;
    max-width: 20px;
    padding: 10px;
}
  
.plane_seat {
    display: flex;
}
  
.seat {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 34px;
}

#column-letters {
    margin-left: 11px;
    font-weight: bold;
    margin-bottom: 10px;
}

